@model KolokviumskaDemekCarService.Models.Mechanic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mechanic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<ul>
    @foreach (var item in Model.Services)
    {
        @Html.ActionLink(item.Type, "Details", "Service", new { id = item.Id }, null);
    }
</ul>
<div>
    @Html.ActionLink("Add service", "AddService", new { id = Model.Id })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
